<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
    <label class="med-description">
      Override KW Size
    </label>
    <input style="margin: 0 3px" type="checkbox" [(ngModel)]="isOverridekWhSizeActive" (ngModelChange)="onisOverridekWhSizeActiveChange($event)"
      name="optiona" id="cc" />
  </div>

  <input dataType="numeric" style="width: 40px" type="text" [(ngModel)]="kWhSize" (ngModelChange)="onkWhSizeChange($event)">

  <div style="display: inline-flex">
    <div>
      <label class="med-description">
        Override Base Price?
      </label>
      <input style="margin: 0 3px" type="checkbox" [(ngModel)]="isOverrideBasePriceActive" (ngModelChange)="onisOverrideBasePriceActiveChange($event)"
        name="optiona" id="cc" />
    </div>

    <input dataType="numeric" style="width: 40px" type="text" [(ngModel)]="basePrice" (ngModelChange)="onBasePriceChange($event)">

    <div>
      <label class="med-description">
        Is Lead Setter
      </label>
      <input style="margin: 0 3px" type="checkbox" [(ngModel)]="isLeadSetter" (ngModelChange)="onIsLeadSetterChange($event)"
        name="optiona" id="cc" />
    </div>

    <div>
      <label class="med-description">
        Is Federal Credit
      </label>
      <input style="margin: 0 3px" type="checkbox" [(ngModel)]="isFederalCredit" (ngModelChange)="onIsFederalCreditChange($event)"
        name="optiona" id="cc" />
    </div>
    <div>
      <label class="med-description">
        Is NV Rebate
      </label>
      <input style="margin: 0 3px" type="checkbox" [(ngModel)]="isNVRebate" (ngModelChange)="onIsNvRebateChange($event)"
        name="optiona" id="cc" />
    </div>
  </div>



  <table>
    <thead>
      <tr>
        <th>Bank</th>
        <th>PMT</th>
        <th>CMS</th>
        <th>Per KW</th>
        <th>Dealer Fee</th>
        <th>Interest</th>
        <th>Term</th>
        <th>KWh Size</th>
        <th>PPW</th>
        <th>Base</th>
        <th>Price Before Roof</th>
        <th>Net System</th>
        <th>Federal Tax Credit</th>
        <th>NV Rebate</th>
        <th>Total After Credits</th>
        <th>Dealer Fee</th>
        <th>Dealer Cost</th>
        <th>Audit</th>
        <th>Roof Cost</th>
        <th>Lead Setter</th>
        <th>Wished PPW</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of bankLoans">
        <td>{{l.loanType}}</td>
        <td>{{l.payment *1.035}}</td>
        <td>{{l.cms}}</td>
        <td>{{l.perKw}}</td>
        <td>{{l.dealerFeePercent}}</td>
        <td>{{l.interest}}</td>
        <td>{{l.term}}</td>
        <td>{{l.kWhSize}}</td>
        <td>{{l.ppw}}</td>
        <td>{{l.base}}</td>
        <td>{{l.priceBeforeRoof}}</td>
        <td>{{l.netSystemPrice}}</td>
        <td>{{l.federalTaxCredit}}</td>
        <td>{{l.nvRebate}}</td>
        <td>{{l.totalAfterCredits}}</td>
        <td>{{l.dealerFee}}</td>
        <td>{{l.dealerCost}}</td>
        <td>{{l.audit}}</td>
        <td>{{l.roofCost}}</td>
        <td>{{l.leadSetter}}</td>
        <td>{{l.wishedPpw}}</td>
      </tr>
    </tbody>
  </table>
