<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <table>
    <thead>
      <tr>
        <th>Bank</th>
        <th>PMT</th>
        <th>CMS</th>
        <th>Per KW</th>
        <th>Dealer Fee</th>
        <th>Interest</th>
        <th>Term</th>
        <th>KWh Size</th>
        <th>PPW</th>
        <th>Base</th>
        <th>Price Before Roof</th>
        <th>Net System</th>
        <th>Federal Tax Credit</th>
        <th>NV Rebate</th>
        <th>Total After Credits</th>
        <th>Dealer Fee</th>
        <th>Dealer Cost</th>
        <th>Audit</th>
        <th>Roof Cost</th>
        <th>Lead Setter</th>
        <th>Wished PPW</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of bankLoans">
        <td>{{l.loanType}}</td>
        <td>{{l.payment *1.035}}</td>
        <td>{{l.cms}}</td>
        <td>{{l.perKw}}</td>
        <td>{{l.dealerFeePercent}}</td>
        <td>{{l.interest}}</td>
        <td>{{l.term}}</td>
        <td>{{l.kWhSize}}</td>
        <td>{{l.ppw}}</td>
        <td>{{l.base}}</td>
        <td>{{l.priceBeforeRoof}}</td>
        <td>{{l.netSystemPrice}}</td>
        <td>{{l.federalTaxCredit}}</td>
        <td>{{l.nvRebate}}</td>
        <td>{{l.totalAfterCredits}}</td>
        <td>{{l.dealerFee}}</td>
        <td>{{l.dealerCost}}</td>
        <td>{{l.audit}}</td>
        <td>{{l.roofCost}}</td>
        <td>{{l.leadSetter}}</td>
        <td>{{l.wishedPpw}}</td>
      </tr>
    </tbody>
  </table>
